* {
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: tty;
  src: url(ttyclock.ttf);
}

@font-face {
	font-family: hack;
	src: url(hack.ttf);
}

body {
	color: white;
	background-color: black;
}

#body {
	position: absolute;
	transform: translateY(-50%);
	top: 55%;
}

#time {
	font-size: 1040%;
	font-family: tty;
	font-weight: 100;
	text-align: center;
	padding-left: 40px;
	margin-bottom: 40px;
}

#date {
	width: 100vw;
	font-size: 150%;
	font-family: hack;
	font-weight: 100;
	text-align: center;
}
